# Ignore my direnv setup
.envrc
.direnv
.tool-versions
.env
!.env.example

# Ignore Terraform state and automatic var files - except examples
.terraform
.terraform.lock.hcl
terraform.tfstate*
*.auto.tfvars*
terraform.tfvars*
!terraform.tfvars.example
.terragrunt.cache
terraform.config

# Ignore local venv and ephemeral python resources
.venv
__pycache__
.pytest_cache
.ruff_cache
.coverage*

# Ignore all json files; these *may* contain a vault credential if a process errors out
*.json

# Ignore root CA files
ca/*
!ca/ca-config.json
!ca/ca-csr.json

# Ignore generated certificates and supporting files
certs/*
!certs/Makefile

# Ignore VS Code files, except settings and spelling
.vscode/*
!.vscode/settings.json
!.vscode/cSpell.json
